.errors {
    color: red;
}

a {
    color: #0d4fb0;
    text-decoration: none;
}

body {
    background: #e1f5fe !important;
    height: 100vh;
}

#root {
    height: 100%;
}

.lent {
    color: blue;
}

.owed {
    color: red;
}